header, section {
    padding: 0 10%;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
}

h2 {
    font-size: 36px;
    font-weight: 900;

}

.hero-left p, li {
    font-size: 18px;
    color: #E5E7EB;
    
}

.hero-left {
    width: 50%;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-right: auto;
  
}

button {
    background-color: #3882F6;
    padding: 6px 23px;
    border-radius: 10px;
    color: #F9FAF8;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    padding-inline-start: 0;
}

img {
    width: 150px;
}

.hero img {
    width: 43%;
    /*height: auto;*/
    margin-left: auto;
}

.hero {
    display: flex;
    padding: 10% 0;
}

section {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery {
    display: flex;
    
}

.quote{
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: 200;
}

.action {
    background-color: #3882F6;
    color: #E5E7EB;
    display: flex;
    flex-direction: row;
}

footer {
    background-color: #1F2937;
    color: #F9FAF8;
    text-align: center;
}
