header, section {
    padding: 0 10%;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    margin: 4%;

}

h3 {
    margin: 0px;
}

.hero-left p, li {
    font-size: 18px;
    color: #E5E7EB;
    
}

.hero-left {
    width: 50%;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-right: auto;
  
}

button {
    background-color: #3882F6;
    padding: 6px 23px;
    border-radius: 10px;
    color: #F9FAF8;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    padding-inline-start: 0;
}

img {
    width: 130px;
    
}

figcaption {
    text-align: center;
    padding: 2%;
}

.hero img {
    width: 43%;
    /*height: auto;*/
    margin-left: auto;
}

.hero {
    display: flex;
    padding: 10% 0;
}

section {
    align-self: center;
    display: flex;
    flex-direction: column;
}

.gallery {
    display: flex;
    padding: 0 10% 7% 10%;
    
}

section.gallery-section {
    align-items: center
}

.gallery img {
    border: 5px solid #3882F6;
    border-radius: 10px; 
}

.quote{
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: 200;
    padding: 5% 20%;
}

.thor {
    margin-top: -30px;
    text-align: right; 
    font-weight: 800;
    font-size: 30px;
}

.action {
    background-color: #3882F6;
    color: #E5E7EB;
    display: flex;
    flex-direction: row;
    margin: 6%;
    padding: 3% 7%;
    border-radius: 10px;
    align-items: center;
}

footer {
    background-color: #1F2937;
    color: #F9FAF8;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 80px;
    display: flex;
}

.action div {
    width: 70%;
}

.action button {
    margin-left: auto;
}